@charset "UTF-8";
@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanummyeongjo/nanummyeongjo.css);
@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
@import url(https://cdn.jsdelivr.net/npm/typeface-nanum-square@1.1.0/nanumsquare.css);

@font-face {font-family:"NanumMyeongjo"; }
@font-face {font-family:"NanumBarunGothicWeb"; }
@font-face {font-family:'NanumSquare', sans-serif;}

body, * {margin:0;
 		padding:0;
  		line-height:1.5;}
  
#topmenu{height:35px;
		background-color:#935c3c;
		background-repeat:repeat-x;
		text-align:right;
		padding-top:5px;
		padding-right:15px;
		vertical-align:middle;
		line-height:none;
		color:white;}
#topmenu a{font-family:inherit;
			text-decoration:none;
			vertical-align:middle;
			font-weight:bold;
			color:white;}
#topmenu a:hover{font-family:inherit;
				text-decoration:none;
				font-weight:bold;
				color:#382f29;}
#topmenu a:active{font-family:inherit;
				text-decoration:none;
				font-weight:bold;
				color:#382f29;}
#topmenu a:visited{font-family:inherit;
				text-decoration:none;
				font-weight:bold;
				color:white;}

#header {height:700px;
		background-color:#935c3c;
		background-image:url("/WooriLibrary/images/books-2596809_1920.jpg");
		background-repeat:no-repeat;
		background-size:contain;
		background-postion:left top;}
#header h1 {text-align:center;
			color:white;
			letter-spacing: 5px;
			height:600px;
			bottom:10px;}

#footer {padding:10px;
		margin-bottom:5px;
		background-color:white;
		background-repeat:repeat-x;
		color:#898989;
		border-top:1px solid #898989;
		font-size:0.7em;
		clear:both;}
		
.content {align-content:center;
		color:#898989;
		font-size:15px;
		max-width:100%;
		margin-bottom:15px;
		min-height:800px auto;}
.main_wrap {display:inline-block;}
#content_map {margin-top:10px;
			padding-left:10px;
			float:left;}
#context {margin:20px;
		border-left:8px solid #935c3c;
		border-bottom:1px solid #935c3c;
		padding:0px 15px 15px;
		max-width:400px;
		height:auto;
		text-align:left;
		font-size:15px;
		float:left;
		line-height:1.5;}

h1, h2, h3, h4, h5, h6 {margin:10px 10px 10px 10px;
						font-family:"NanumSquare", sans-serif;
						font-stretch:ultra-condensed;
						padding:5px;
						color:#382f29;
						text-align:left;}
a {font-family:inherit;
	text-decoration:none;
	font-weight:bold;
	color:#382f29; }
a:hover {color:#d3b89e;}
a:visited {color:#382f29;}
#back {text-align:right;
		padding:15px;}
		
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="month"],
input[type="url"],
input[type="tel"],
input[type="number"] {text-align:left;
					  margin:5px;
					  width:300px; 
					  height:30px; 
					  vertical-align:center; 
					  font-family:inherit;
					  font-size:17px;
					  border-top:none;
					  border-left:5px solid #935c3c;
					  border-right:none;
					  border-bottom:1px solid #935c3c;
					  padding-left:10px;
					  outline:none;}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {margin:5px;
					text-align:center;
					width:100px;
					height:40px;
					border:none;
					color:white;
					font-size:15px;
					font-stretch:ultra-condensed;
					font-weight:bold;
					background-color:#935c3c;
					padding:0px;
					cursor:pointer;}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {background-color:#382f29;} 
textarea {text-align:left;
		 width:300px; 
		 height:100px;
		 line-height:normal;
		 vertical-align:top; 
		 font-family:inherit;
		 border-left:1px solid #d3b89e;
		 padding:10;}
#loginImg {margin-top:50px;
			margin-bottom:20px;}
#top{background-color:#935c3c;
	background-repeat:repeat-x;
	height:35px;}
#top h4{color:white;
		text-align:left;}
		
#search{width:850px;
		position:relative;
		display:inline;}
#searchTxt {text-align:left;
			max-width:800px; 
			height:40px; 
			line-height:normal; 
			vertical-align:center; 
			font-family:inherit;
			border:1.5px solid #935c3c;
			padding-left:10px;}			
#searchTxt:hover {border:1px solid #d3b89e;}
#searchBtn {background-color:transparent;
			background-image:url('/WooriLibrary/images/icon-01.png');
			background-repeat:no-repeat;
			background-size:contain;
			width:40px;
			position:absolute;
			right:0;
			opacity:0.7;
			outline:none;}
#searchBtn:hover {opacity:1;}
#searchBox {max-width:150px;
			height:40px;
  			padding:10px 10px;
 			margin: 5px 0;
  			display: inline;
 			border: 1px solid #935c3c;
  			border-radius: 4px;
  			box-sizing: border-box;}
#searchBox > option {max-width:150px;
					height:40px;
					padding:10px 10px;
					border: none;
					box-sizing: border-box;}
label {position:absolute;
		top:1px;
		left:1px;}
table {max-width:80%;
		height:auto;
		margin-left:auto;
		margin-right:auto;}
#content_form th {text-align:right;
		  		font-family:inherit;
		  		padding:5px;
		 	 	color:#a97a4b;
			  	border-top:none;
			  	border-bottom:none;
			  	border-left:none;
				border-right:5px solid #935c3c;
				min-height:50px;
				min-width:50px;}
.tableForm td {padding:5px;
			text-align:left;
			min-height:50px;
			min-width:50px;}
.tableList th{min-height:50px;
			min-width:50px;
			text-align:center;
			font-family:inherit;
			font-size:17px;
			padding:5px;
			color:#935c3c;
			border-top:none;
			border-left:none;
			border-right:none;
			border-bottom:5px solid #935c3c;}
.tableList td{min-height:50px;
			min-width:50px;
			border-top:none;
			border-left:none;
			border-right:none;
			border-bottom:1px solid #935c3c;
			text-align:left;
			font-size:17px;
			padding:5px;}
#invisibleTale{border:none;}
#invisibleTale td{min-height:25px;
				min-width: 40px;
				font-size: 13px;}
#rightCol{text-align:right;}
#message{color:#935c3c;
		font-size:0.8em;}