<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopMapper">
<cache />


	<sql id="basecolumn">
		goods_code, goods_name, goods_price, goods_pic, goods_opt, goods_category
	</sql>
	
	<resultMap type="shopdto" id="shopmap">
		<id column="goods_code" jdbcType="VARCHAR" property="goodsCode"/>
		<result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
		<result column="goods_price" jdbcType="BIGINT" property="goodsPrice"/>
		<result column="goods_pic" jdbcType="VARCHAR" property="goodsPic"/>
		<result column="goods_opt" jdbcType="VARCHAR" property="goodsOpt"/>
		<result column="goods_category" jdbcType="VARCHAR" property="goodsCategory"/>
	</resultMap>


	<insert id="insertGoods" parameterType="shopdto" >
		insert into goods (<include refid="basecolumn"/>) values(#{goodsCode},#{goodsName},#{goodsPrice},#{goodsPic},#{goodsOpt},#{goodsCategory})
	</insert>
	
	<select id="goodsList" resultMap="shopmap" parameterType="long">
	select <include refid="basecolumn" /> from goods
	</select>
	
	<select id="goodsCateList" resultMap="shopmap" parameterType="String">
	select <include refid="basecolumn" /> from goods where goods_category = #{goodsCategory}
	</select>
	
	<select id="goodsDetail" resultMap="shopmap" parameterType="String" >
	select <include refid="basecolumn" /> from goods where goods_code = #{goodsCode}
	</select>
	

</mapper>