<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd"
>
	<!-- service -->
	<bean id = "roomFromService" class = "service.room.RoomFormService" />
	 <bean id = "reservationService" class = "service.room.ReservationService" />
	 <bean id = "reservationChkService" class = "service.room.ReservationChkService" />
   
   
   
   
   
   
   
   <!-- repository -->
    <bean id = "roomRepository" class = "repository.room.RoomRepository" />
</beans>