<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd"
>

    
    <!-- service -->
	<bean id = "goodsInsertService" class = "service.shop.goodsInsertService" />
	<bean id = "goodsListService" class = "service.shop.goodsListService" />
	<bean id = "goodsDetailService" class = "service.shop.goodsDetailService" />
	<bean id = "cartInsertService" class = "service.shop.cartInsertService" />
	<bean id = "cartService" class = "service.shop.cartService" />

   <!-- repository -->
    <bean id = "shopRepository" class = "repository.shop.ShopRepository" />
</beans>