<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd"
>
	<bean class="Controller.shop.shopMainController" />
	<bean class="Controller.shop.shopInsertController" />
	<bean class="Controller.shop.shopListController" />
	<bean class="Controller.shop.shopDetailController" />
	<bean class="Controller.shop.shopCateController" />
	<bean class="Controller.shop.shopCartController" />
	<bean class="Controller.shop.shopCartQtyController" />
	<bean class="Controller.shop.shopDelCartController" />
	<bean class="Controller.shop.shopCheckOutController" />
	<bean class="Controller.shop.shopMemberController" />
	<bean class="Controller.shop.shopCouponController" />
	<bean class="Controller.shop.shopKakaoController" />
	
	
	
</beans>