<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- lecture repository -->
	<bean id="lectureUploadingRepository" class="repository.lecture.LectureUploadingRepository"/>
	<bean id="lectureListRepository" class="repository.lecture.LectureListRepository"/>
	<bean id="lectureDetailRepository" class="repository.lecture.LectureDetailRepository"/>
	<bean id="lectureModifyRepository" class="repository.lecture.LectureModifyRepository"/>
	<bean id="fileGetRepository" class="repository.lecture.FileGetRepository"/>
	<bean id="lectureDeleteRepository" class="repository.lecture.LectureDeleteRepository"/>
	
	<!-- exam repository -->
	
</beans>