<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd"
>
	<bean class="Controller.Room.RoomController"/>
	<bean class="Controller.Room.ReservationController"/>
	<bean class="Controller.Room.RoomFormController"/>
	<bean class="Controller.Room.ResevationChkController"/>
</beans>