<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd">
	   
	<!-- lecture service -->
	<bean id="lectureUploadingService" class="service.lecture.LectureUploadingService"/>
	<bean id="lectureListService" class="service.lecture.LectureListService"/>
	<bean id="lectureDetailService" class="service.lecture.LectureDetailService"/>
	<bean id="lectureDeletingSerivce" class="service.lecture.LectureDeletingSerivce"/>
	<bean id="lectureModifyService" class="service.lecture.LectureModifyService"/>
	
	<!-- exam service -->

</beans> 