<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
	<cache />
	<insert id="memInsert" parameterType="memdto">
		INSERT INTO MEMBER (MEM_ID,
		MEM_PW, MEM_NAME, MEM_ADDR, MEM_TEL, MEM_EMAIL, MEM_REGDT, MEM_IP,
		MEM_NO, JOIN_CHK)
		VALUES (#{memId}, #{memPw}, #{memName},
		#{memAddr}, #{memTel}, #{memEmail}, sysdate, #{memIp},
		MEM_NO_SEQ.nextval, 1)
	</insert>

	<resultMap type="memdto" id="baseMember">
		<constructor>
			<idArg column="mem_Id" javaType="String" />
			<arg column="mem_pw" javaType="String" />
			<arg column="mem_name" javaType="String" />
			<arg column="mem_email" javaType="String" />
			<arg column="mem_addr" javaType="String" />
			<arg column="mem_tel" javaType="String" />
			<arg column="mem_regdt" javaType="java.sql.Timestamp" />
			<arg column="join_chk" javaType="String" />
			<arg column="mem_ip" javaType="String" />
			<arg column="mem_no" javaType="String" />
		</constructor>
	</resultMap>

	<select id="memChk" parameterType="memdto"
		resultMap="baseMember">
		select MEM_ID, MEM_PW, MEM_NAME, MEM_EMAIL, MEM_ADDR, MEM_TEL,
		MEM_REGDT, MEM_IP, JOIN_CHK, mem_no from member
		WHERE mem_id=#{memId}
	</select>
	
	<!-- 로그인 분리 (회원,관리자,강사) -->
	<resultMap type="memdto" id="authInfo">
		<id column="ID" jdbcType="VARCHAR" property="memId"/>
		<result column="ADMIN" jdbcType="VARCHAR" property="admin"/>
		<result column="EMP_PW" jdbcType="VARCHAR" property="memPw"/>
		<result column="EMP_NAME" jdbcType="VARCHAR" property="memName"/>
		<result column="EMP_EMAIL" jdbcType="VARCHAR" property="memEmail"/>
		<result column="EMP_ADDR" jdbcType="VARCHAR" property="memAddr"/>
		<result column="EMP_TEL" jdbcType="VARCHAR" property="memTel"/>
	</resultMap>
	
	<select id="userCheck" parameterType="string" resultMap="authInfo">
		SELECT emp_id AS ID, 'manager' AS ADMIN, EMP_PW, EMP_NAME, EMP_EMAIL, EMP_ADDR, EMP_TEL
			FROM EMPLOYEE
			WHERE emp_id = #{memId}
		UNION
		SELECT mem_id, 'member', MEM_PW, MEM_NAME, MEM_EMAIL, MEM_ADDR, MEM_TEL
			FROM MEMBER
			WHERE mem_id = #{memId}
		UNION
		SELECT teach_id, 'teacher', TEACH_PW, TEACH_NAME, TEACH_EMAIL, TEACH_ADDR, TEACH_TEL
			FROM teacher
			WHERE teach_id = #{memId}
	</select>
	
	<!-- ID 중복체크 -->
	<resultMap type="memdto" id="idChk">
		<id column="ID" jdbcType="VARCHAR" property="memId"/>
	</resultMap>
	
	<select id="idChk" parameterType="string" resultMap="idChk">
		SELECT EMP_ID AS id
			FROM DELUNA.EMPLOYEE
			WHERE emp_id = #{memId}
		UNION
		SELECT mem_id
			FROM DELUNA."MEMBER" m
			WHERE mem_id = #{memId}
		UNION
		SELECT teach_id
			FROM deluna.teacher
			WHERE teach_id = #{memId}
	</select>
</mapper>














